@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cafe24Ohsquare";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FreesentationVF";
  src: url("./fonts/FreesentationVF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  ::-webkit-scrollbar {
    display: none;
  }
  height: 100%;
  color: var(--color-text-secondary);
  background: var(--color-bg-primary);
}

:root {
  color-scheme: light;
  --color-bg-primary: #fff;
  --color-text-secondary: #333;
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --color-bg-primary: #15232d;
  --color-text-secondary: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
